:root {
  --black1: #24232C;
  --black2: #18171F;
  --grey: #817D12;
  --light: #E6E5EA;
  --green: #A4FFAF;
  --red: #F64A4A;
  --orgnage: #FB7CF8;
  --yellow: #F8ED65;
}

.app{
  background-color: var(--black2);
}


#gen {
  padding: 15px;
  border-radius: 2px;
}

.btn-primary {
    color: var(--black1);
    background-color: var(--green);
    border-color: var(--light); 
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary {
    color: var(--light);
    background-color: var(--black2);
    border-color: var(--green);
}


html, body {
    height:100vh;
    width:100vw;
    background: var(--black1);
    color: var(--light);
}

.tooltip {
    position: relative;
    display: inline-block;
  }
  
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 140px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 150%;
    left: 50%;
    margin-left: -75px;
    opacity: 0;
    transition: opacity 0.3s;
  }
  
  .tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
  }

  .password-text {
    background: var(--black1);
  }

  .passwordForm {
    background: var(--black1);
    // padding: 50px;
    // margin: 20px
  }

  .passwordStrength {
    padding: 20px;
    margin: 20px;
    background: var(--black2);
  }

  #charLength {
    padding: 5px 45px 5px 45px; 
  }

  .checkboxes {
   padding: 5px 0px 0px 45px; 
  }